.stat-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  &-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    button {
      width: 20px;
      height: 20px;
      text-align: center;
      padding: 0;
    }

    span {
      width: 30px;
      text-align: center;
    }
  }



}
