body {
  background: url("../public/IMG_5343.JPG") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

main, html, body {
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p, h2, span {
  padding: unset;
  margin: unset;
}

