.main-container {
  width: 400px;
  background: #e1d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
  gap: 16px;
  border-radius: 16px;
  box-shadow: 0 0 10px 4px rgba(100, 80, 80, 0.2);

  app-stat-block {
    max-width: 200px;
    width: 100%;
  }
}
